body {
  font-family: Arial, sans-serif;
  color: #343232;
  display: flex;
  flex-direction: column;
  max-width: 296px;
}

.calendar {
  display: inline-block;
  border: 1px solid #d9d9d9;
}

input {
  border-radius: 5px;
  height: 30px;
}

.header span,
.days span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #f5f5f5;
}

.header span {
  font-weight: bold;
  background-color: #b6b4b4;
}

.days span {
  vertical-align: top;
}

.days span.today {
  background-color: #989494;
}

.days span.weekend {
  background-color: #d7d6d6;
}

.days span.selected {
  background-color: #db4a4a;
}

.topbar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

button {
  border-radius: 5px;
}
